{% extends 'base.html' %}
{% load static %}

{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Register Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row"><div class="col-lg-6">    
                    <div class="register-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {{form}}
                                <div class="col-md-12">
                                    <button type="submit"
                                     class="btn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}