{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block content %}
<div class='container'>
    {% if responses %}
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Student_Name</th>
                    <th>Email</th>
                    <th>Roll_No</th>
                    <th>Total_No_of_Questions</th>
                    <th>Correct</th>
                    <th>Total_marks_Obtained</th>
                    <th>Responses</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for res in responses %}
                <tr>
                    <td>{{res.student_name}}</td>
                    <td>{{res.email}}</td>
                    <td>{{res.roll_no}}</td>
                    <td>{{res.total_no_of_questions}}</td>
                    <td>{{res.correct_questions}}</td>
                    <td>{{res.obtained_marks}}</td>
                    <td>
                        <form method='POST' action=''>
                        {% csrf_token %}
                        
                        <input hidden type='text' name='res' value='{{res.id}}'>
                        <button type='submit' class='btn btn-sm'>
                    See Response
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% elif questions %}
    <div>
    {% for q in questions %}

        <h4><strong>{{forloop.counter}}..{{q.question}}</strong></h4>
        {% for c in q|fetch_choices %}
        <br>
        {% if  c.id|check_selection:ids %}
            {% if  c.id|check_correctness %}
            <p style='background-color:lightgreen'>--{{forloop.counter}}......<strong>{{c.choice}}<br>correct</strong></p>
            {% else %}
            <p style='background-color:LightPink'>--{{forloop.counter}}......{{c.choice}} <strong><br>wrong</strong></p>
            {% endif %}
        {% elif c.id|check_correctness %}
        <p>--{{forloop.counter}}......<strong>{{c.choice}}<br>correct</strong></p>
        {% else %}
        <p>--{{forloop.counter}}......{{c.choice}}</p>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
    {% else %}
    <div class='alert alert-danger'>
        <p>There are no Responses submitted yet
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}