{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block content %}

<!-- Breadcrumb Start -->
        
                <div class="breadcrumb-wrap">
                    <div class="container-fluid">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Tests</a></li>
                            <li class="breadcrumb-item"><a href="#">Create</a></li>
                            
                        </ul>
                    </div>
                </div>
                <!-- Breadcrumb End -->
                
                <!-- Login Start -->
                <div class="login">
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="login-form">
                                    <div>
                                        <p>
                                            Test Submitted successfully. Results will be provided to Your Instructor or Teacher Contact them.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login End -->
{% endblock %}